body {
  background-color: #f7f7f7;
  font-size: 14px;
  color: #929292;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: 300;
}

.text-label {
  color: #b3b3b3;
}

.tag-container {
  margin: 0rem -0.3rem;
}

.tag {
  display: inline-block;
  overflow-wrap: anywhere;
  background-color: #f4f4f4;
  margin: 0.3rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
}

.tag-value {
  overflow-wrap: anywhere;
  color: #676767;
}

a, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}