*.class
*.log
.history
*.sc
.pygments-cache
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.ensime
.ensime_cache

# Scala-IDE specific
.scala_dependencies
.idea
.idea_modules

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.project
.settings
.classpath
.cache
.cache-main
.cache-tests
bin/

_site

# Ignore Play! working directory #
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml

# Default sigar library provision location.
native/
