<!doctype html>
<html lang="en" data-ng-app="kamon">
<head>
    <meta charset="utf-8">
    <title>Kamon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <link rel="shortcut icon" href="ico/favicon.png">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Kamon</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <div class="portlet" ng-controller="messageController">
                <div class="portlet-header">Messages</div>
                <div class="portlet-content">
                   <div data-ng-init="startMessagePolling()">
                        <div id="liveramdomdata" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                   </div>
                </div>
            </div>
            <div class="portlet" ng-controller="actorTreeCtrl">
                <div class="portlet-header">Actor Tree</div>
                <button ng-click="getActorTree();" id="fullscreenButton">Full</button>

                <div data-ng-init="getActorTree()">
                    <div class="portlet-content">
                        <div id="tree"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="portlet" ng-controller="dispatchersController">
                <div class="portlet-header">Dispatchers</div>
                <div class="portlet-content">
                     <div data-ng-init="startPolling()"/>
                        <div data-ng-repeat="system in actorSystemMetrics">
                            <ul class="thumbnails">
                                <li class="span5 clearfix">
                                    <div class="thumbnail clearfix">
                                        <div class="caption" class="pull-left">
                                            <h4>
                                                <a href="#" >Actor System: {{ system.actorSystem }}</a>
                                            </h4>
                                            <div data-ng-repeat="s in system.dispatchers">
                                                <small><b>Dispatcher Name :</b> {{s.name}}</small></br>
                                                <small><b>Active Thread Count :</b> {{s.activeThreadCount}}</small></br>
                                                <small><b>Pool Size :</b> {{s.poolSize}}</small></br>
                                                <small><b>Queue Size :</b> {{s.queueSize}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="portlet">
                <div class="portlet-header">Mailboxes</div>
                <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>

        <hr>

        <footer>
            <p>&copy; Kamon 2013</p>
        </footer>

    </div> <!-- /container -->

</body>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/highcharts-ng.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/screenfull.min.js"></script>
    <script src="js/app.js"></script>
</html>