<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/syntax-highlight.css">
    <link rel="stylesheet" href="/assets/css/kamon.css">

  </head>
  <body>
    <div id="wrap">
      {% include navigation-bar.html %}
      <div class="container">
        {{ content }}
      </div>
      <hr>
      <div id="push"></div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="muted credit text-center">Kamon is a open source project, go and check out the code at
        <a href="http://github.com/kamon-io/Kamon"><img src="/assets/img/github-logo.png" id="github-logo" alt="GitHub"></a>
        </p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
    {% include google-analytics.html %}

  </body>
</html>
