<div class="well" id="doc-tree">
  <ul>
    <li>
      <label class="tree-toggler tree">Introduction</label>
      <ul class = "tree">
        <li><a href="/introduction/what-is-kamon/">What is Kamon?</a></li>
        <li><a href="/introduction/get-started/">Get Started</a></li>
      </ul>
    </li>
    <li class="divider"></li>

    <li>
      <label class="tree-toggler tree">Core Components</label>
      <ul class = "tree">
        <li>
          <label class="tree-toggler tree">Metrics</label>
          <ul class="tree">
            <li><a href="/core/metrics/basics/">Basics</a></li>
            <li><a href="/core/metrics/instruments/">Instruments</a></li>
            <li><a href="/core/metrics/user-metrics/">User Metrics</a></li>
            <li><a href="/core/metrics/subscription-protocol/">Subscription Protocol</a></li>
          </ul>
        </li>
        <li><label class="tree-toggler tree">Tracing</label>
          <ul class="">
            <li><a href="/core/tracing/basics/">Basics</a></li>
            <li><a href="/core/tracing/logging/">Logging</a></li>
            <li><a href="/core/tracing/propagation/">Propagation</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="divider"></li>

    <li>
      <label class="tree-toggler tree">Integrations</label>
      <ul class = "tree">
        <li>
          <label class="tree-toggler tree">Spray</label>
          <ul class="tree">
            <li><a href="/integrations/spray/server-side/">Server Side</a></li>
            <li><a href="/integrations/spray/client-side/">Client Side</a></li>
          </ul>
        </li>
        <li><label class="tree-toggler">Play</label>
          <ul class="">
            <li><a href="/integrations/play/applications/">Play Applications</a></li>
            <li><a href="/integrations/play/ws-library/">WS Client Library</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="divider"></li>

    <li>
      <label class="tree-toggler tree">Backends</label>
      <ul class="tree">
        <li><a href="/backends/statsd/">StatsD</a></li>
        <li><a href="/backends/newrelic/">New Relic</a></li>
        <li><a href="/backends/datadog/">Datadog</a></li>
      </ul>
    </li>
  </ul>
</div>