<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern> %date{ISO8601} %-5level [%thread] %X{traceToken} %X{kamonTraceID} %X{kamonSpanID} %logger %X{} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="akka.actor" level="WARN" />
    <logger name="cakesolutions.kafka" level="WARN" />
    <logger name="oshi.software.os.linux.LinuxFileSystem" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>