name: Publish a new release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: git fetch --depth=1 origin '+refs/tags/*:refs/tags/*'
      - uses: olafurpg/setup-scala@v10
      - name: Release
        run: sbt ";+instrumentation/publishLocal; release"
        shell: bash
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
